*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.bgimg{

    background-image: url(/office-workplace-background_24908-58537.webp);
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 650px;
    
}
.brand{
    margin-left: 55px;
    font-size: 32px;
}
.ulmar{
    margin-left: auto;
}
.mytext{
    padding-top: 250px;
    box-sizing: border-box;
}
.mytext h2{
    font-size: 42px;
}
.mytext h1{
    font-size: 82px;
    color: brown;
    font-weight: bold;
}
/* .................our service..... */
.our-service{
    padding: 80px 0px 50px;
    /* height: 700px; */
}
.our-service h1{
    font-weight: bold;
}
.our-service h3{
    font-size: 25px;
    color: darkolivegreen;
 
}
.rowsetting{
    margin: 80px 0px;
}
.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.fa-lock{
    margin-top: 20px;
}
.fa-desktop{
    margin-top: 20px;
}
.fa-shopping-cart{
    margin-top: 20px;
}
.rowsetting p{
    padding: 10px;
    color: #6c757d;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.portfolio{
    /* height: 800px; */
    width: 100%;
    padding: 100px 0 50px;
}
.portfolio h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}
.portfolio p{
    font-size: 25px;
    color: darkolivegreen;}
.card{
    margin-top: 40px;
}

.footer{
    height: 50px;
    margin-top: 30px;
    background-color: black;
    color: white;
}
.footer h5{
    line-height: 50px;}
    
/* ////////////////responsive//// */

@media(min-width:992px){
    .our-service{
        height: 760px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    
}

@media(min-width:575px) and (max-width:767px) {
    
}
@media(min-width:480px) and (max-width:574px) {
    
}
@media(max-width:479px){

    .our-service{
        height: 1250px;
    }
}
    
img {
    height: 200px !important;
    width: 415px !important;
}